@import './../variables.scss';

.Content{
    max-width: 1320px;
    height: 100vh;
    margin: 0 auto;
    &-Title {
        font-weight: 300;
        padding-top: 84px;
        font-size: 3em;
        margin: 0;
    }
}
