@import './../variables.scss';

.Button {
    cursor: pointer;
    font-family: "Lato";
    font-weight: 900;
    outline: none;

    &_color {
        height: 45px;
        background-color: $color-blue;
        color: #fff;
        padding: 0px 43px;
        border-radius: 38px;
        font-size: 1.02em;
    }
    &_icon {
        height: 28px;
        width: 28px;
        background-repeat: no-repeat;
        border: none;
        box-sizing: border-box;
    }
}