@import './../variables.scss';
.Slider {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    text-align: center;
    &-Wrapper {
        height: 100vh;
        -webkit-transition: .5s all linear;
        transition: .5s all linear;
        will-change: transform;
    }
    &-DotsContainer {
        font-size: 1.2em;
        right: 0;
        bottom: 30px;
        margin: 0;
        padding: 0;
        position: absolute;
        text-align: center;
        transform: translateX(-50%);
        z-index: 10;
        list-style-type: none;
        li {
            display: inline-block;
            padding: 18px;
            &.Dots_active {
                a {
                    color: $color-blue;
                }
            }
            a {
                color: #fff;
                &:hover {
                    text-decoration: none;
                    opacity: .7;
                    cursor: pointer;
                }
            }
        }
    }
    &-EachSlide {
        width: 100vw;
        height: 100vh;
        float: left;
        line-height: 100vh;
        font-size: 40vh;
        text-align: center;
        background-size: cover;
        background-position: center center;
        background-color: transparent;
    }
    @media screen and (min-width: 1900px) {
        &-DotsContainer {
            right: 65px;
            bottom: 60px;
            font-size: 1.85em;
        }
    }
}